.gradle/
.settings/
.project
.classpath
.gradletasknamecache

sonar-project.properties

build/
bin/
out/
generatedSource/

web/node_modules
web/src/main/webapp/bower_components/
web/src/main/webapp/app/app.css
web/.sass-cache/
*.map

.idea/
*.iml
*.DS_Store
web/catalina.base_IS_UNDEFINED/
test/node_modules

tools/soapUI/logs/soapui-rehabstod-logfile.txt

test/node-v6.6.0-darwin-x64

*.h2.db

devops/openshift/*/env/resources.zip

web/yarn-error\.log
